.header {
	margin-top: 40px;
}

body {
	font-family: 'Lato', sans-serif;;
	color: #000000;
}

a:link {
    text-decoration: none;
	color: #676858;
	background-color: transparent;
}

a:hover {
	color: black ;
	background-color: transparent;
	text-decoration: underline;
}

a:active  {
	color: black ;
	background-color: transparent;
	text-decoration: underline;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	font-weight: 300;
}

h4 {
	font-size: 30px;
	font-weight: 300;
	font-style: italic;
	color: #676858;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

p {
	color: #676858;
}

.top-line {
	margin-bottom: -17px;
}

.bottom-line {
	margin-bottom: 40px;
}

.text-muted {
	color: #BCBBBB;
}

.title-logo {
	margin-top: 20px;
}

.content {
	margin-top: 20px;
}

footer {
	margin-bottom: 50px;
}

.small {
	font-size: 24px;
}

.scrollToTop{
	width:100px; 
	height:130px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;
	background: url('arrow_up.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}

h5 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
	color: #BCBBBB;
}

.big-margin {
	margin-top: 50px;
}